{% extends 'myboard/header.html' %}
{% load staticfiles %}
{% block main %}

  
  <p>{{ post.created_at }}</p>
  <h1>{{ post.title }}</h1>
  <a class="btn btn-default" href="{% url 'edit_post' pk=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <p>{{ post.text|linebreaksbr }}</p>

  <hr>
  <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.id %}">Add comment</a>

  <table class="table">
    <tbody>
    {% for comment in post.comments.all %}
    <tr>
      <th scope="row">{{ comment.writer }}</th>
      <td>{{ comment.text }}</td>
      <td>{{ comment.commented_at }}</td>
      <td><a class="btn btn-default" href="{% url 'edit_comment' pk=post.id c_pk=comment.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
    </tr>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
    </tbody>
  </table>
{% endblock main %}
